# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.eslintrc.js
assets/generator-karcher-pgg-3-1-1680083698136.jpg
assets/glebogryzarka-cedrus-gl03pro-1680103387584.jpg
assets/kosa-stihl-fs-260-1680112839240.png
assets/kosa-stihl-fs-260-1680113094683.png
assets/myjka-karcher-hd5-15-1680112575065.jpg
assets/nozyce-stihl-hs45-1680111970733.jpg
assets/odkurzacz-karcher-nt30-1-1680112535420.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680084278506.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680084328993.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680084350128.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680127878795.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680129017295.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680129175334.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680129366721.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680129522423.jpg
assets/odkurzacz-pioracy-karcher-puzzi-10-1-1680133468377.jpg
assets/opryskiwacz-sthil-sr200-1680128497709.jpg
assets/przecinarka-husqvarna-k770-1680128497711.jpg
assets/wertykulator-rl-540-1680084278510.jpg
assets/wertykulator-rl-540-1680084328997.jpg
assets/wertykulator-rl-540-1680084350134.jpg
assets/wertykulator-rl-540-1680123590520.jpg
assets/wertykulator-rl-540-1680123820602.jpg
assets/wertykulator-rl-540-1680127878804.jpg
assets/wertykulator-rl-540-1680129017312.jpg
assets/wertykulator-rl-540-1680129175350.jpg
assets/wertykulator-rl-540-1680129366727.jpg
assets/wertykulator-rl-540-1680129522438.jpg
assets/wertykulator-rl-540-1680133468375.jpg
